*.py[co]
__pycache__

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
develop-eggs
.installed.cfg
scratch
env

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

.DS_Store
*.db
# Sphinx
docs/tmp
docs/_build
cover

# VIM and Gedit swap 
*.swp
*~

# PyCharm configuration
.idea